/.env
/client_secret_1060525617395-lp4626s036g2e3iudkimnlicb62rsk5a.apps.googleusercontent.com.json
/codealike.json
/credentials.json
/token.json
/frontend/node_modules/
/node_modules/
/backend/src/.env
