modules = ["web", "python-3.12"]
run = "fastapi run main.py --host 0.0.0.0 --port 5000"

[nix]
channel = "stable-25_05"
packages = ["bash", "libxcrypt", "nodejs"]

[workflows]
runButton = "Web App"

[[workflows.workflow]]
name = "React Build"
author = 32081135
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm run build"

[[ports]]
localPort = 5000
externalPort = 80

#[[ports]]
#localPort = 8000
#externalPort = 8000

[deployment]
run = ["sh", "-c", "fastapi run main.py --host 0.0.0.0 --port 5000"]
deploymentTarget = "cloudrun"
